*{
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}

h1{
  text-align: center;
}

p {
  background-color: #bfbfbf;
  border: 2px solid black;
  height: 150px;
  margin-right: 10px;
  padding: 40px 10px 5px 10px;
  overflow: hidden;
}
.dh-row {
  width: 100%;
}



#container {
  position: relative;
  
}

.para1 {
  background-color: #D59898;
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  width: 120px;
  padding: 10px;
  text-align: center;

}
.para2 {
  background-color:#C14543 ;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  width: 120px;
  padding: 10px;
  text-align: center;

}
.para3 {
 background-color: #E5D198;
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  width: 120px;
  padding: 10px;
  text-align: center;

}


@media (min-width: 992px) {
  .column-large-1{
    float: left;
  }
  
  .column-large-1 {
    width: 33%;
  
  }
 

  
}
@media (min-width: 768px) and (max-width: 991px) {
  .column-medium-1, .column-medium-2{
    float: left;
   
  }
 
  .column-medium-1 {
    width: 50%;
  }
 
  .column-medium-2 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .column-small-1{
    float: left;
  }
  
  .column-small-1 {
    width: 100%;
  }

  
}


